/*
.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%
}

.widget-menu {
    width: 30%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.widget-menu > .zone-menu {
    display: flex;
    width: 100%;
    gap: 10px;
}

.widget-menu > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    align-self: center;
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 1.25em;
    font-weight: bold;
}

.widget-menu > a:hover {
    animation: hover-voir 0.7s ease-out forwards;
}

.widget-menu > .zone-menu > img {
    object-fit: cover;
    width: 20%;
    max-width: 225px;
    aspect-ratio: 1;
    border-radius: 4px;
    border: 2px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.widget-menu > .zone-menu > .resume-menu > h3 {
    font-size: 2.1em;
    margin-bottom: 10px;
}

.widget-menu > .zone-menu > .resume-menu > p {
    font-size: 1.5em;
    text-indent: 30px;
} */



.bgGallery {
    width: 100%;
    background-color: var(--clr-fond-secondaire);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 5vw 5vh 5vw;    
}

.milieu{
    align-items:center;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 85vw;
    padding: 1rem;
    margin: 0;
}

/* Gallery */
.gallery {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    grid-template-rows: repeat(4, 14vw);
    gap: 0.75rem;
    margin-top: 20px;
    
}

/* Gallery Layout */

.gallery__item{
    border:2px solid rgb(255, 255, 255);
}

.gallery__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
     
}

.gallery__item--2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
     
}

.gallery__item--3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
     
}

.gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
     
}

.gallery__item--5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
     
}

.gallery__item--6 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
     
}

.gallery__item--7 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
     
}

.gallery__item--8 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
     
}

.gallery__item--9 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;
     
}

/* Gallery Link */
.gallery__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Gallery Link Overlay */
.gallery__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.gallery__link:hover .gallery__overlay {
    opacity: 1;
}

/* Gallery Overlay Text */
.gallery__overlay span {
    position: relative;
    line-height: 3rem;
    text-align: center;
}

.gallery__overlay span:before,
.gallery__overlay span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--clr-secondaire); /* Couleur des lignes */
    transition: width .3s ease-out .2s;
}

.gallery__overlay span:before {
    top: 0;
    left: 0;
}

.gallery__overlay span:after {
    bottom: 0;
    right: 0;
}

.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
    width: 100%;    
}


/* Gallery Image */
.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: 
        transform .5s,
        filter .5s;
}

.gallery__link:hover .gallery__image {
    transform: scale(1.2);
    filter: blur(1px);
}

@media screen and (max-width: 60rem) {
    .wrapper {
        padding: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 11em);
        grid-template-rows: repeat(5, 11em);
    }

    /* Gallery Layout */
    .gallery__item--1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .gallery__item--2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .gallery__item--3 {
        grid-column: 2 / span 1;
        grid-row: 2/ span 1;
    }
    
    .gallery__item--4 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    
    .gallery__item--5 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    .gallery__item--6 {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
    }
    
    .gallery__item--7 {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
    }
    
    .gallery__item--8 {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }
    
    .gallery__item--9 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }

    .gallery__overlay {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 35rem) {
    .gallery {
        grid-template-columns: repeat(3, 6.5em);
        grid-template-rows: repeat(5, 6.5em);
        gap: .2rem;
    }

    .gallery__item {
        margin: .1rem;
        border:1px solid rgb(255, 255, 255);
    }

    .gallery__overlay {
        font-size: 1.25rem;
    }
}