*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-principale: #ea5b0c;
    --clr-appoint: #b94402;
    --clr-secondaire: #f8b03e;
    --clr-fond-principale: #333333;
    --clr-fond-secondaire: #505050;
    --clr-gris-clair: #9F9F9F;
    --clr-footer: rgb(26, 26, 26);
    accent-color: var(--clr-principale);
}

.zone-question {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    gap: 30px;
    padding: 20px 40px;
    width: 100%;
    max-width: 900px;
}

.reponses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reponse {
    font-size: 1.5em;
}

.zone-question > h3 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.question > img {
    object-fit: cover;
    border: 2px solid white;
    border-radius: 4px;
    aspect-ratio: 1;
}

.score {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 2em;
    width: 90%;
    max-width: 900px;
}

.score > h3 {
    text-align: center;
}

.valider {
    width: 125px;
    height: 40px;
    border: 2px solid white;
    box-shadow:  0px 2px 4px rgba(27, 27, 27, 0.282);
    align-self: center;
    border-radius: 50px;
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: bold;
    background: none;
    font-family: Cicle;
    cursor: pointer;
}

.valider:hover {
    animation: hover-voir 0.7s ease-out forwards;
}

.bonne {
    color: #109940;
}

.mauvaise {
    color: #d92a0b;
}

@media (max-width: 1050px) {
    .question {
        flex-direction: column;
        padding: 40px 40px;
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }

    .reponses {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .question > img {
        width: 100%;
    }

    .score {
        padding: 10px 40px;
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .question {
        padding: 20px 20px;
        width: 100%;
        max-width: none;
    }

    .score {
        font-size: 1.5em;
    }
}