* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

@font-face {
    font-family: Dyno;
    src: url(Polices/Dyno_Regular.ttf);
    font-family: Cicle;
    src: url(Polices/Cicle_Fina.ttf)
}

:root {
    --clr-principale: #ea5b0c;
    --clr-appoint: #b94402;
    --clr-secondaire: #f8b03e;
    --clr-fond-principale: #333333;
    --clr-fond-secondaire: #505050;
    --clr-illegale: #9F9F9F;
    --clr-footer: rgb(26, 26, 26);
}

body, html {
    height: 100%;
    font-family: Cicle;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    width: 100vw;
    height: 12vh;
    position: fixed;
    z-index: 1;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 60, 66);
    mix-blend-mode: overlay;
}

a {
    text-decoration: none;
}

.showcase {
    height: 100vh;
    width: 100%;
}

.container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 10vh 10vh 0px;
}

.logo {
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
    margin-right: 20px;
    margin-left: 20px;
}

.text h2 {
    font-size: 5em;
}

.text h3 {
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
    margin-top: 60px;
}

.button {
    width: 20%;
    aspect-ratio: 1;
    background: var(--clr-fond-secondaire);

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 5px 5px 30px rgb(19, 19, 19);
}

.button > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.button:hover {
    background-color: var(--clr-illegale);
}

.button:hover > a {
    color: rgb(255,255,255);
}

.button:active {
    background-color: #fff;
}

.bg {
    width: 100%;
    height: 75vh;
    background-color: var(--clr-fond-principale);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.bg article {
    width: 50%;
    margin: 0px 5vw 0px 0px;
    font-size: 1.5em;
}

.titre-section {
    font-size: 2em;
    margin: 5vh 0px;
}

.picto { 
    width: 80%;
    background-size: 100%; 
    background-image: url('Images/SpriteB.png'); 
}

.button:hover > a > .picto{
    background-image: url('Images/SpriteB.png');
}

.livre { background-position: 0 0%; background-size: 100%; }
.masque { background-position: 0 34.333333%; background-size: 100%; }
.news { background-position: 0 66.666667%; background-size: 100%; }
.ticket { background-position: 0 100%; background-size: 100%; }


@media (min-height: 900px) {

    .text h2 {
        font-size: 7em;
    }
    
    .text h3 {
        font-size: 2.5em;
    }

    .text {
        max-width: none;
    }

}

@media (max-width: 800px) {
    .container {
        margin-top: 0;
        margin: 0px 0vh 10vh 0px;
    }

    .bg {
        height: 50vh;
        background-color: var(--clr-fond-principale);
    }

    .bg article {
        width: 75%;
        margin: 0px 5vw 0px 0px;
        font-size: 1.5em;
    }
    
    .titre-section {
        font-size: 1.75em;
    }

}

@media (max-width: 490px) {

    .bg {
        height: 50vh;
        background-color: var(--clr-fond-principale);
    }

    .bg article {
        width: 75%;
        margin: 0px 5vw 0px 0px;
        font-size: 1em;
    }
    
    .titre-section {
        font-size: 1.5em;
    }

    .container {   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin: 0px 0px 5vh 0px;
    }

    .button {
        width: 20%;
        aspect-ratio: 1;
        background: var(--clr-fond-secondaire);
    
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .button > a {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.5em;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 700px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .text h2 {
        font-size: 4em;
    }
    
    .text h3 {
        font-size: 1.25em;
    }


}
.IMGparallax {
    background: url(images/Fond2.jpg);
    /* Hauteur */
    height: 75vh; 
    /* Permet de créer l'effet parallaxe lors du scroll*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    background-color: var(--clr-footer);

}
