* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.valider {
    width: 150px;
    aspect-ratio: 3/1;
    cursor: pointer;

    background: none;
    border: 1px solid var(--clr-appoint);
    border-radius: 3px;
    font-size: 1em;
    color: var(--clr-appoint);
}

.valider:hover {
    animation: animation 0.7s ease forwards;
    width: 150px;
}

.zone-question {
    width: 85%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone-question {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.zone-question > h2 {
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-right: 50px;
    box-shadow: 1px 1px rgb(255, 255, 255);
}

.zone-question {
    font-size: 1.5em;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.zone-question > div {
    margin-bottom: 5px;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points > h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.points > p {
    font-size: 2em;
    margin-bottom: 20px;
}

.mauvaise-reponse {
    color: #ef4141;
}

.bonne-reponse {
    color: #2eda5f;
}

@keyframes animation {
    to {
        background-color: var(--clr-appoint);
        color: white;
    }
}

@media (max-width: 900px) { /* Pour les titres */
    .zone-question {
        width: 90%;
    }
}

@media (max-width: 550px) { /* Pour le footer */

    footer {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vh 0px 5vh 0px;
    }

    .section-footer {
        width: 90%;
        max-width: 300px;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1em;
    }
    
    .img-footer {
        width: 75%;
        max-width: 200px;
        display: flex;
        justify-content: space-between;
    }
    
    .img-footer > img {
        height: 100%;
    }
    
    .section-footer > h3 {
        
        font-size: 1.5em;
        margin-bottom: 0.75em;
    }
}