*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    scroll-behavior: smooth;
}

/* Polices */

@font-face {
    font-family: Dyno;
    src: url(Polices/Dyno_Regular.ttf);
    font-family: Cicle;
    src: url(Polices/Cicle_Fina.ttf);
}

/* Variables */

:root {
    --clr-principale: #ea5b0c;
    --clr-appoint: #b94402;
    --clr-secondaire: #f8b03e;
    --clr-fond-principale: #333333;
    --clr-fond-secondaire: #505050;
    --clr-gris-clair: #9F9F9F;
    --clr-footer: rgb(26, 26, 26);
    accent-color: var(--clr-principale);
}

/* selection */

::selection {
    background-color: #ea5a0c7c;
}

/* Scrollbar */

*::-webkit-scrollbar {
    display: block;
    width: 10px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #00000040;
    border-radius: 24px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #00000065;
}

/* Back to top */

.jump {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 8vh;
    aspect-ratio: 1;
    background-color: var(--clr-principale);
    border-radius: 50%;
    box-shadow: 2px 2px 20px #0000003a;
    z-index: 10;
}

.jump > img {
    width: 100%;
    aspect-ratio: 1;
}

.jump:hover {
    background-color: #ea5a0cc5;
}

.jump:active {
    background-color: #ea5a0c8f;
}

/*----------------------- Hero de la page -----------------------*/

body {
    overflow: overlay;
}

body, html {
    height: 100%;
    font-family: Cicle;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 1;
}

a {
    text-decoration: none;
}

header > a {
    height: 100%;   
}

header > label {
    height: 100%;
    cursor: pointer;
}

header > label > img {
    height: 100%;
}

.logo {
    height: 100%;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0vw;
    background-color: var(--clr-fond-principale);
    overflow: hidden;
}

.navbar > ul {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 10px;
    list-style: none;
}

.navbar > ul > li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar > ul > li > h3 {
    padding: 5px 5px;
    box-shadow: 0px 1px 0px white;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 100%;
}

.navbar > ul > li > a:hover {
    animation: hover-a 0.2s ease-out forwards;
}

.burgerSquare > label {
    height: 100%;
}

.burgerSquare > label > img {
    height: 100%;
}

#burger {
    display: none;
}

#burgerClose {
    display: none;
}

.zoneBurger {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    aspect-ratio: 1;
}

.zoneBurger > label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.zoneBurger > label > img {
    height: 30%;
}

#burger[type="radio"]:checked ~ .navbar {
    width: fit-content;
    padding: 20px;
}

#burger[type="radio"]:not(:checked) ~ .navbar {
    width: 0vw;
}

#burgerClose[type="radio"]:checked ~ .navbar {
    width: 0vw;
}

#burgerClose[type="radio"]:not(:checked) ~ .navbar {
    width: fit-content;
}

#burgerClose {
    position: relative;
    top: 4vh;
    left: 10px;
}

/* langues */

.drapeaux {
    display: flex;
    max-width: 150px;
    height: 30px;
    gap: 10px;
}

.drapeaux > a > img {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Video */

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 30px #0000003a;
}

/* Image (à la place de la vidéo) */

.showcase .imgBg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* rectangle noir transparent sur la video / image */

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 33, 0.41);
    mix-blend-mode: multiply;
}

.showcase {
    height: 100vh;
    width: 100%;
}

/* Titre */

.container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 10vh 10vh 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
    margin-right: 20px;
    margin-left: 20px;
}

.text h1 {
    font-size: 5em;
    user-select: none;
}

.text h2 {
    font-size: 2em;
    user-select: none;
}

/* Boutons d'accueil */

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    min-width: none;
    margin-top: 60px;
}

.button {
    width: 20%;
    aspect-ratio: 1;
    background: var(--clr-fond-secondaire);

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 5px 20px rgba(27, 26, 26, 0.685);
}

.button > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.button:hover {
    background-color: var(--clr-gris-clair);
}

.button:active {
    background-color: #fff;
}

.button:hover > a > .picto{
    background-image: url('Images/SpriteB.png');
}

/* Sprites */

.livre { 
    background-position: 0 0%;
    background-size: 100%; 
}

.masque { 
    background-position: 0 34.333333%; 
    background-size: 100%; 
}

.news { 
    background-position: 0 66.666667%; 
    background-size: 100%; 
}

.ticket { 
    background-position: 0 100%; 
    background-size: 100%; 
}

.picto { 
    width: 80%;
    background-size: 100%; 
    background-image: url('Images/SpriteB.png'); 
}

/* -------------------- Bandeau de contenu ----------------------- */

.bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 5vw 7vh 5vw;
}

.gris {
    background: gray;
}

.noir {
    background-color: var(--clr-fond-secondaire);
}

.centre {
    justify-content: center;
    align-items: center;
}

article {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
}

article > p {
    text-indent: 30px; 
}

article > h3 {
    font-size: 1.75em;
    margin-bottom: 20px;
}

article > h2 { /* Le titre orange */
    font-size: 2.25em;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    text-align: center;
    background-color: #c3692a;
}

article > iframe { /* carte */
    max-width: 600px; 
    width: 70%;
    min-width: 200px;
    aspect-ratio: 10/8;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow:  0px 2px 4px rgba(27, 27, 27, 0.282);
}

.bg > .article {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 30px;
}

.bg > .article > .zone-texte {
    width: 65%;
}

.bg > .article > .zone-texte > h3 {
    font-size: 2.25em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.bg > .article > .zone-texte > p {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-indent: 30px;
}

.bg > .article > .zone-images {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bg > .article > img {
    width: 50%;
    max-width: 350px;
    object-fit: cover;
    aspect-ratio: 4/3;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 5px 5px 30px #0000003a;
    margin-left: 20px;
    margin-right: 20px;
}

.bg > .article > .zone-images > img {
    object-fit: cover;
    width: 45%;
    aspect-ratio: 4/3;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 5px 5px 30px #0000003a;
}

.bg > .article > .deux-images {
    flex-direction: column;
    align-items: center;
}

.bg > .article > .deux-images > img{
    aspect-ratio: 2;
    width: 90%;
}

/* Le saviez-vous */

.zone-saviez-vous {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saviez-vous {
    width: 60%;
    max-width: 400px;
    box-shadow: 0px 2px 4px rgba(34, 33, 33, 0.256);
}

.saviez-vous > .titre {
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: rgb(192, 102, 42);
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px 5px 0px 0px;
}

.saviez-vous > .titre > img {
    width: 55px;
    aspect-ratio: 1;
}

.saviez-vous > p {
    display: flex;
    align-items: center;
    font-size: 1em;
    text-indent: 20px;
    padding: 10px;
    background-color:#4b4b4b;
    min-height: 75px;
    border-radius: 0px 0px 5px 5px;
}

/* widgets (les liens sur la page d'accueil) */

.widget {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.widget > .zone {
    display: flex;
    width: 100%;
    gap: 40px;
}

.widget > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    border: 2px solid white;
    box-shadow:  0px 2px 4px rgba(27, 27, 27, 0.282);
    align-self: center;
    border-radius: 50px;
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: bold;
}

.widget > a:hover {
    animation: hover-voir 0.7s ease-out forwards;
}

.widget > .zone > img {
    object-fit: cover;
    width: 45%;
    max-width: 225px;
    aspect-ratio: 1;
    border-radius: 4px;
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(27, 27, 27, 0.282);
}

.widget > .zone > .resume > h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.widget > .zone > .resume > p {
    font-size: 1.5em;
    text-indent: 30px;
}

/* En savoir plus */

#savoirPlus[type="radio"] {
    display: none;
}

#savoirMoins[type="radio"] {
    display: none;
}

#savoirPlus[type="radio"] + label {
    cursor: pointer;
    color: var(--clr-secondaire);
    font-size: 0.75em;
    margin-top: 5px;
}

#savoirMoins[type="radio"] + label {
    cursor: pointer;
    color: var(--clr-secondaire);
    font-size: 0.75em;
    margin-top: 5px;
}

#savoirPlus[type="radio"] ~ div {
    display: flex;
    flex-direction: column;
}

#savoirPlus[type="radio"]:checked ~ div {
    height: fit-content;
}

#savoirPlus[type="radio"]:not(:checked) ~ div {
    height: 0px;
    overflow: hidden;
}

#savoirPlus[type="radio"]:checked + label {
    display: none;
}

#savoirPlus[type="radio"]:not(:checked) + label {
    display: block;
}

/* Les images parallax */

.IMG1 {
    background: url(images/Fond5.jpg);
}

/* l'effet parallax */
/* /!\ les classes IMG doivent être misent avant la classe IMGparallax */

.IMGparallax { 
    /* Permet de créer l'effet parallaxe lors du scroll*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IMG-geante {
    height: 150vh;
}

.IMG-grande {
    height: 100vh;
}

.IMG-normale {
    height: 75vh;
}

.IMG-petite {
    height: 50vh;
}

.IMG-microscopique {
    height: 25vh;
}

/* ------------------------- Footer ----------------------------*/
/*
footer {
    background: var(--clr-fond-principale);
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 5vh 0px 10vh 0px;
}

.section-footer {
    width: 30%;
    height: fit-content;
    max-width: 300px;
    margin: 0px 2vw 0px 2vh;
    padding: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.img-footer {
    height: 5vw;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-footer > img {
    height: 100%;
}

.section-footer > h3 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}*/

/* Animations */

@keyframes hover-voir {
    to {
        background: var(--clr-principale);
    }
}

@keyframes hover-a {
    to {
        color: var(--clr-appoint);
    }
}

/* Media queries */

@media (max-width: 700px) {
    .container {   
        align-items: center;
        margin: 0px 0px 10vh 0px;
        width: 100%;
    }
    
    .text h1 {
        font-size: 4.2em;
    }
    
    .text h2 {
        font-size: 1.5em;
    }

    article > h2 { /* Le titre orange */
        font-size: 1.75em;
    }

    .buttons {
        display: flex;
        justify-content: baseline;
        gap: 5px;
        width: 100%;
        max-width: 400px;
        min-width: none;
        margin-top: 60px;
    }

    .button {
        width: 75px;
        height: 75px;
        background: var(--clr-fond-secondaire);
    }

    .button > a {
        font-size: 0.75;
    }

}

@media (max-width: 750px) {
    .widget > .image-apres {
        flex-direction: column;
    }

    .widget > .zone > img {
        width: 100%;
        max-width: none;
        aspect-ratio: 2/1;
    }

    .widget > .zone > .resume > h3 {
        font-size: 2.5em;
        margin-bottom: 15px;
        text-align: center;
    }

    .widget > .image-avant {
        flex-direction: column-reverse;
    }

    .bg > .article > img {
        width: 100%;
        max-width: none;
        aspect-ratio: 2;
    }

    .saviez-vous {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .bg > .article {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .bg > .article > .zone-texte {
        width: 100%;
    }

    .bg > .article > .zone-images {
        width: 100%;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .bg > .image-avant {
        flex-direction: column-reverse;
    }
    .bg > .image-apres {
        flex-direction: column;
    }
    
    .bg > .article > img {
        width: 100%;
        max-width: none;
        aspect-ratio: 2;
    }

    .bg > .article > .deux-images {
        flex-direction: row;
    }

    .bg > .article > .deux-images > img{
        aspect-ratio: 2;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .bg > .article > .zone-images {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .bg > .article > .zone-images > img {
        max-width: none;
        width: 100%;
        aspect-ratio: 2;
    }
    
    .bg > .article > img {
        width: 100%;
        max-width: none;
        aspect-ratio: 2;
    }

    .bg > .article > .zone-texte > h3 {
        font-size: 2em;
    }
    
    .bg > .article > .zone-texte > p {
        font-size: 1.25em;
    }

}